.bfh-colorpicker {
  position: relative
}

.bfh-colorpicker-popover {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100px;
  padding: 20px;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.bfh-colorpicker-popover>canvas {
  width: 384px;
  height: 256px;
}

.open>.bfh-colorpicker-popover {
  display: block;
}