body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  height: 100vh;
}

.flat-form {
  margin: auto;
  background: #7a729e;
  padding: 100px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.flat-close-button {
  position: absolute;
  top: -35px;
  right: 0px;
  opacity: 1;
  display: block;
  width: 24px;
  height: 24px;
}

.flat-close-button svg polygon {
  fill: #7a729e !important;
}

.recall-flat-title {
  font: 300 30px/35px Open sans, Ubuntu, Arial;
  color: #fff;
  margin-bottom: 20px;
}

.flat-form-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flat-input {
  width: 275px;
  height: 54px;
  padding: 13px 20px;
  font: 300 20px/24px Open sans, Ubuntu, Arial;
  color: #000;
  border: #fff 1px solid;
}

.recall-flat-button {
  width: 250px;
  height: 54px;
  font: 300 20px/54px Open sans, Ubuntu, Arial;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #65beb7;
}

.flat-stat-block {
  margin-top: 20px;
}

.flat-stat-item {
  opacity: .4;
  font: 300 13px/25px Open sans, Ubuntu, Arial;
  color: #fff;
}

@media (max-width: 600px) {
  .flat-form {
    width: 100%;
    padding: 50px;
  }
  .flat-form-block {
    flex-direction: column;
  }
  .flat-input, .recall-flat-button {
    width: 100%;
  }
  .recall-flat-title {
    text-align: center;
  }
}