/*-------------------------------online on site --------------------------------*/

.now-on-site-wrapper {
  opacity: 0;
  transition: all .3s ease-in;
  transition: all .3s ease-out;
  position: fixed;
  display: none;
  border: 0px solid;
}

.now-on-site-wrapper.first {
  min-width: 300px;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-family: 'Helvetica';
  /*left: 400px;*/
  background-color: #eb524a;
  min-height: 80px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
}

.now-on-site-wrapper button {
  position: absolute;
  bottom: 0;
  right: 50%;
  background-color: #ffbe44;
  color: #c63535;
  border: 0;
  min-width: 200px;
  min-height: 48px;
  text-align: center;
  border-radius: 30px;
  font-size: 26px;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: -24px;
  margin-right: -100px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transition-delay: .1s;
  outline: none;
  overflow: hidden;
  z-index: 10;
  font-family: inherit;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
}

.now-on-site-wrapper.second {
  min-width: 250px;
  top: 100px;
  font-size: 18px;
  font-family: 'Helvetica';
  background: #fff;
  color: #666871;
  text-align: center;
  margin: auto;
  padding: 10px;
  pointer-events: auto;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
}

.now-on-site-wrapper.second .now-on-site {
  font-size: 2.25em;
  display: block;
}

.now-on-site-wrapper.second .close {
  color: rgba(0, 0, 0, 0.33);
}

/*-------------------------------.now-on-site-wrapper.third --------------------------------*/

.now-on-site-wrapper.third {
  padding: 5px;
  font-family: 'Helvetica';
  width: 90px;
  height: 60px;
  position: relative;
  color: #FFF;
}

.close {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  /* border: 2px solid white; */
  width: 20px;
  /* height: 20px; */
  /* border-radius: 50%; */
  text-decoration: none;
  font-size: 25px;
  font-weight: 200;
  opacity: 1;
}

.now-on-site-wrapper.third .close {
  top: 0px;
  right: 2px;
  color: #ff3466;
}

.tooltip-text {
  background: #ff3466;
  font-size: 28px;
  border-radius: 50%;
  padding: 10px;
  padding-top: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.tooltip-text.counter {
  width: 60px;
  height: 60px;
  padding: 0px;
  padding: 10px;
  padding-top: 14px;
  box-sizing: border-box;
  top: 0px;
}

.online-user-third-text .triangle {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: #ff3466 transparent transparent transparent;
  bottom: 12px;
  transform: translateY(20px);
  position: absolute;
}

.online-user-third-text {
  position: relative;
  opacity: 0;
  transition: all 0.4s ease;
}

.online-user-third-text {
  background: #ff3466;
  width: 180px;
  height: 60px;
  font-size: 13px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.now-on-site-wrapper.third:hover .online-user-third-text {
  opacity: 1;
  transform: translateY(-2px);
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#anim:hover {
  animation: shake 500ms ease-in-out forwards;
}

/*-------------------------------EOF .now-on-site-wrapper.third --------------------------------*/

.now-on-site-wrapper.forth {
  opacity: 1;
  padding: 1em;
  padding-right: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
  -webkit-transform: rotate(5deg) translate(-1em, 1em);
  transform: rotate(5deg) translate(-1em, 1em);
  border-top: 5px solid #da513d;
  border-bottom: 5px solid #ddd;
  color: black;
}

.now-on-site-wrapper.forth .close {
  color: #da513d;
}

.now-on-site-wrapper.forth .note {
  border-radius: 50%;
  border: 1px solid;
  min-height: 16px;
  min-width: 16px;
  font-size: 13px;
  display: inline-block;
}

.now-on-site {
  margin-right: 5px;
}

/*-----------------------------close button----------------------------------*/

.close {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  /* border: 2px solid white; */
  min-width: 20px;
  /* min-height: 20px; */
  /* border-radius: 50%; */
  right: -20px;
  top: -20px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  font-weight: 200;
  opacity: 1;
}