.total-user-wrapper {
  position: fixed;
  display: none;
  top: 40px;
  left: 30px;
  border-width: 1px;
  color: black;
  font-size: 15px;
}

.total-user-selector {
  border: 0px solid;
}

/*-------------------------------counter of users per day------------------------*/

.user-counter {
  background-color: white;
  border-radius: 5px;
  padding: 2px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
}

.user-counter .close {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  /* border: 2px solid white; */
  min-width: 20px;
  /* min-height: 20px; */
  /* border-radius: 50%; */
  right: -20px;
  top: -20px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  font-weight: 200;
  opacity: 1;
}

.user-counter img {
  width: 50px;
}

.text {
  padding: 5px;
}

.counter {
  padding: 10px;
}

.first-counter {
  padding: 10px;
  padding-right: 30px;
}

.user-counter.first-design .counter {
  padding: 3px;
  background-color: #80808061;
  border-radius: 5px;
}

/*-------------------------------counter of users per day second design------------------------*/

.second-design {
  border-radius: 25px;
  top: 60px;
  padding-right: 10px;
}

.second-design img {
  width: 40px;
  padding-right: 3px;
}

.glyphicon-time {
  font-size: 25px;
}

.second-design .close {
  right: -20px;
  top: -10px;
}

/*-------------------------------EOF counter of users per day second design------------------------*/

/*-------------------------------counter of users per day third design------------------------*/

.total-user-wrapper.third-design {
  padding: 5px;
  font-family: 'Helvetica';
  width: 90px;
  height: 60px;
  position: relative;
  color: #FFF;
}

.close {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  /* border: 2px solid white; */
  width: 20px;
  /* height: 20px; */
  /* border-radius: 50%; */
  text-decoration: none;
  font-size: 25px;
  font-weight: 200;
  opacity: 1;
}

.total-user-wrapper.third-design .close {
  top: 0px;
  right: 2px;
  color: #ff3466;
}

.tooltip-text {
  position: relative;
  background: #ff3466;
  font-size: 15px;
  width: 50px;
  display: block;
  text-align: center;
  height: 35px;
  border-radius: 50%;
  padding-top: 15px;
  font-size: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
}

.tooltip-text.counter {
  width: 60px;
  height: 60px;
  padding: 0px;
  padding: 10px;
  padding-top: 14px;
  box-sizing: border-box;
  top: 0px;
}

.total-user-third-text .triangle {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: #ff3466 transparent transparent transparent;
  bottom: 12px;
  transform: translateY(20px);
  position: absolute;
}

.total-user-third-text {
  position: relative;
  opacity: 0;
  transition: all 0.4s ease;
}

.total-user-third-text {
  background: #ff3466;
  width: 180px;
  height: 60px;
  font-size: 13px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.total-user-wrapper.third-design.total-user-selector:hover .total-user-third-text {
  opacity: 1;
  transform: translateY(-2px);
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#anim:hover {
  animation: shake 500ms ease-in-out forwards;
}

/*-------------------------------EOF counter of users per day third design --------------------------------*/

/*-------------------------------counter of users per day forth design --------------------------------*/

.total-user-wrapper.forth-design {
  top: 100px;
  font-size: 18px;
  font-family: 'Helvetica';
  background: #fff;
  color: #666871;
  text-align: center;
  margin: auto;
  padding: 10px;
  pointer-events: auto;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
  z-index: 20;
  justify-content: space-between;
  align-items: center;
}

.total-user-wrapper.forth-design .total-user-on-site {
  font-size: 2.25em;
  color: #BDBFCA;
  display: block;
}

.total-user-wrapper.forth-design .counter {
  padding: 5px;
}

.total-user-wrapper.forth-design .close {
  color: rgba(0, 0, 0, 0.33);
}

/*-------------------------------EOF counter of users per day forth design --------------------------------*/