.bottom-recall-form {
  position: fixed;
  width: 100%;
  height: 124px;
  bottom: 0;
  z-index: 2000000;
  z-index: 99999999;
  overflow: visible;
  background-color: #7a729e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-recall-title {
  padding: 20px;
  font: 400 28px/31px Open sans, Ubuntu, Arial;
  color: #fff;
}

.bottom-recall-form-block {
  padding: 20px;
}

.bottom-recall-input {
  width: 275px;
  height: 50px;
  padding: 12px 20px;
  font: 300 20px/24px Open sans, Ubuntu, Arial;
  color: #000;
  border: #fff 1px solid;
}

.bottom-recall-button {
  width: 250px;
  font: 300 20px/50px Open sans, Ubuntu, Arial;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #65beb7;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  margin-left: 0px;
  transition: all .2s;
}

.bottom-recall-button:hover {
  color: white;
  text-decoration: none;
  filter: brightness(0.8);
}

.bottom-recall-stat-block {
  opacity: .4;
  font: 300 13px/16px Open sans, Ubuntu, Arial;
  color: #fff;
  display: flex;
  padding-top: 10px;
}

.bottom-recall-stat-item {
  padding-right: 20px;
}

.bottom-form-close-button {
  position: absolute;
  top: 25px;
  right: 31px;
  z-index: 200002;
  opacity: .4;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all .2s;
}

.bottom-form-close-button:hover {
  opacity: 1;
}