/*-----------------------first design---------------------------------*/

.close {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  /* border: 2px solid white; */
  min-width: 20px;
  /* min-height: 20px; */
  /* border-radius: 50%; */
  right: -20px;
  top: -20px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  font-weight: 200;
  opacity: 1;
}

.freezing-buyer-info .close, .yved .close {
  color: black;
}

.freezing-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999999;
  min-min-height: 198px;
  min-width: 330px;
  overflow: hidden;
  padding-bottom: 10px;
}

.freezing-buyer {
  font-family: "EndurancePro-Cond";
  min-width: 296px;
  min-height: 64px;
  background: rgba(43, 43, 43, .7);
  border: 2px solid rgba(0, 0, 0, .25);
  border-radius: 3px;
  box-shadow: 0 0 10px #000000;
  margin: 20px 10px;
  position: fixed;
  right: 20px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 2s;
  -ms-transition: all 2s;
  transition: all 2s;
}

.freezing-buyer--show {
  opacity: 1;
}

.freezing-buyer-prod-img {
  float: left;
  min-width: 28px;
  min-height: 64px;
  position: relative;
}

.freezing-buyer-info {
  color: rgba(255, 255, 255, .6);
  font-size: 14px;
}

.dynamic-info {
  color: #ffffff;
  font-size: 16px;
  padding: 14px 0 0;
  line-min-height: 1;
}

.freezing-buyer--flag {
  display: inline-block;
  vertical-align: middle;
  min-width: 18px;
  min-height: 16px;
}

/*------------------------------second design-------------------------*/

.yved {
  position: fixed;
  right: 20px;
  top: 150px;
  min-width: 350px;
  vertical-align: middle;
  color: white;
  padding-left: 15px;
  font-size: 15px;
  line-min-height: 90px;
  border-radius: 10px;
  -webkit-transition: all 2s;
  -ms-transition: all 2s;
  transition: all 2s;
  opacity: 0;
  z-index: 1000000000;
  border: 0px solid;
}

.yvedf1 {
  background-color: #363636;
  z-index: 1000000000;
}

.yvedi {
  float: left;
  min-width: 50px!important;
  margin-right: 10px;
  margin-top: 20px;
}

.yvedvt {
  float: left;
  min-height: 90px;
  line-min-height: 90px;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.yvedt {
  min-width: 260px;
  line-min-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.statusFont {
  color: red;
}