* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body input, body selector, body textarea {
  color: #000;
  box-shadow: none;
  transition: .35s;
}

input {
  outline: none;
}

.chat-wrap {
  background-color: #2d3133;
}

#chat {
  color: white;
  max-width: 590px;
  margin: 0 auto;
  /* background-color: #2d3133; */
  padding: 50px 0 100px;
}

#chat .chat-label {
  top: 50px;
  margin: 0 25px 0;
  position: relative;
  z-index: 1;
  padding: 25px 0;
  text-align: center;
  -webkit-box-shadow: 0 10px 20px rgba(45, 49, 51, 0.4);
  -moz-box-shadow: 0 10px 20px rgba(45, 49, 51, 0.4);
  box-shadow: 0 10px 20px rgba(45, 49, 51, 0.4);
  /* background: #b30f10 -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background: #b30f10 -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
  background: #b30f10 -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
  background: #b30f10 -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
  background: #b30f10 linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%); */
  background-color: #b30f10;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#chat .chat-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 580px;
  color: #2d3133;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  padding: 100px 0 0 35px;
}

#chat h3 {
  text-transform: uppercase;
  font-size: 24px;
}

#chat .clarify {
  font-size: 18px;
  font-weight: 100;
  font-family: Roboto;
  text-transform: uppercase;
}

#chat .chat-box_content {
  overflow: auto;
  bottom: 0;
  width: 100%;
  padding: 15px;
}

#chat .chat-box_content:before {
  content: '';
  position: absolute;
  width: 95%;
  height: 50px;
  top: 95px;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #fff 50%, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(top, #fff 50%, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(top, #fff 50%, rgba(255, 255, 255, 0));
  background: linear-gradient(to bottom, #fff 50%, rgba(255, 255, 255, 0));
}

#chat .reply {
  margin: 25px 25px 0 0;
  position: relative;
}

#chat .chat-box .name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

#chat .chat-box .txt {
  position: relative;
  margin-right: 100px;
  border-radius: 5px;
  background-color: #f4f4f4;
  margin-top: 10px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  padding: 5px 15px;
}

#chat .chat-box .txt:before {
  content: '';
  position: absolute;
  top: 7px;
  right: -5px;
  background: #f4f4f4;
  transform: rotateZ(45deg);
  width: 15px;
  height: 15px;
}

#chat .chat-box .time {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  position: absolute;
  top: 35px;
  right: 0;
}

#chat .do-comment {
  padding: 15px 0;
  margin-right: 40px;
  border-top: 1px solid #2d3133;
  position: relative;
}

#chat .submit-comment {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 0;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url(../img/do-comment.svg) right center no-repeat;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}

#chat .warning {
  -webkit-transition: .35s;
  -o-transition: .35s;
  -moz-transition: .35s;
  transition: .35s;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotateZ(20deg) translate(-15px, 35px);
  -moz-transform: rotateZ(20deg) translate(-15px, 35px);
  -ms-transform: rotate(20deg) translate(-15px, 35px);
  -o-transform: rotateZ(20deg) translate(-15px, 35px);
  transform: rotateZ(20deg) translate(-15px, 35px);
  opacity: 0;
  top: 5px;
  left: 100%;
  margin-left: 20px;
  width: 280px;
  padding: 10px;
  color: #fff;
  font-weight: 300;
  background-color: #b30f10;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 16px;
  position: absolute;
}

#chat .warning.active {
  -webkit-transform: rotateZ(0) translate(0, 0);
  -moz-transform: rotateZ(0) translate(0, 0);
  -ms-transform: rotate(0) translate(0, 0);
  -o-transform: rotateZ(0) translate(0, 0);
  transform: rotateZ(0) translate(0, 0);
  opacity: 1;
}

#chat .warning:before {
  content: '';
  position: absolute;
  background-color: #b30f10;
  width: 15px;
  height: 15px;
  right: 100%;
  top: 50%;
  margin-right: -7px;
  margin-top: -8px;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

#chat .do-comment input {
  border: none;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 40px;
  height: 40px;
  width: 100%;
}