.setting-lable {
  margin-top: 20px;
}

.panel-title {
  display: inline-block;
}

.checkbox-inline {
  float: right;
}

.freeze-selector {
  display: none;
}

.recall-input-block {
  float: left;
  padding: 10px;
}

.displaying-section-item {
  position: relative;
}

.form-design-selector {
  position: absolute !important;
  left: 230px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
  border: 0px solid;
  display: none;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
}

.setting-container {
  padding: 20px;
  padding-top: 100px;
}

.panel-group {
  max-width: 470px;
}

.link-generator-block {
  margin-top: 20px;
}

.total-user-selector .first-design, .now-on-site-wrapper.first, .freezing-buyer, .freeze-example1, .first-call-button, .first-design-form {
  display: flex;
}

.displaying-section-item {
  display: none;
}

.setting-group-lable {
  margin-bottom: -25px;
  margin-left: 20px;
  background-color: #ffffff;
  display: inline-block;
  padding: 5px;
}

.block-setting {
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin-top: -10px;
}

.first-design.total-user-selector, .first.online-user-selector, .first-design-setting.order-now-selector, .freeze-example1.freeze-selector {
  display: flex;
  opacity: 1;
}

.call-button, .total-user-selector, .online-user-selector, .order-now-selector, .freeze-selector, .form-design-selector {
  position: absolute;
}

.pseudo-chat-displaying {
  overflow-x: scroll;
}

#generate-link-btn {
  margin-bottom: 10px;
}

#generated-setting-link {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.recall-pop-up-displaying {
  overflow-x: scroll;
}

.pseudo-chat-displaying {
  background-color: #666666;
}

@media (max-width:768px) {
  .displaying-section {
    overflow-x: scroll;
  }
  .copy-generated-link-btn {
    margin-top: 10px;
  }
}

/*.total-user-displaying, .online-user-displaying {
  display: none;
}*/